<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NJACK</title>
	<link rel="stylesheet" href="css/homecss.css">
	<script src = "js/homejs.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
    $(document).ready(function(){
    $(".hamburger").click(function()
    {
        $(".navigation").toggleClass("open");
    });
  });
	</script>
</head>
<body>


<header class="header-main">
  <!--<h1 class="text-center">Slide Menu</h1>-->
  <nav class="navigation">
    <div class="hamburger">
      <span class="bars"></span>
    </div>
    <div class="menu">
    <ul>
      <!--<li><a href="">Link</a></li>
      <li class="sub-menu"><a href="">Link</a></li>-->
      <li><a href="">Events</a></li>
      <li><a href="">Resources</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  
    </div>
  </nav>
</header>


<div class = "Intro">
		<h1> NJACK </h1>
	</div>

	 <!-- <a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>-->

	<div class = "About"></div>
	<!--<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;height=250&amp;wkst=1&amp;bgcolor=%23003333&amp;src=6vishnu.pk%40gmail.com&amp;color=%2329527A&amp;ctz=Asia%2FCalcutta" style="border:solid 1px #777" width="250" height="250" frameborder="0" scrolling="no"></iframe>-->

        <!-- Page Content -->
         <div class="whole" id="about" style="background-color:#F2f2f2">
            <div class="abt" style="color: white; background-color: 003366; font: 50px calibri; font-weight: 900; padding-top: 10px; padding-bottom: 15px;">
            </div>
            <div class="container" role="document" style="margin-top:1%;">
              <h2 class="about-head">Njack</h2>
                <p class = "about-club"> NJACK - Not Just Another Computer science Klub ! The Computer Science Club of IIT Patna ! Founded in August 2011.</p>
            </div>
            <!-- /.container -->
        </div>

        <div class="whole" id="about" style="background-color:#F2f2f2">
            <div class="abt" style="color: white; background-color: 003366; font: 50px calibri; font-weight: 900; padding-top: 10px; padding-bottom: 15px;">
            </div>
            <div class="container" role="document" style="margin-top:1%;">
              <h2 class="about-head">RECENT</h2>
               <!-- <hr> -->
                <div class="container-inner about-us-main" id="about-us">
                    <div class="about-div">
                      <h3>Hackathon</h3>
                       <p>Open government data Hackathon</p>
                    </div>
                    <div class="about-div">
                      <h3>Hackathon</h3>
                       <p>Open government data Hackathon </p>
                    </div>
                    <div class="about-div">
                      <h3>Hackathon</h3>
                       <p>Open government data Hackathon</p>
                    </div>
                </div>
                <!--<hr>-->
            </div>
            <!-- /.container -->
        </div>

        <div class="whole" id="about" style="background-color:#F2f2f2">
            <div class="abt" style="color: white; background-color: 003366; font: 50px calibri; font-weight: 900; padding-top: 10px; padding-bottom: 15px;">
            </div>
            <div class="container" role="document" style="margin-top:1%;">
              <h2 class="about-head">Follow Us</h2>
               
            </div>
            <div class="social">
             <a href="https://www.facebook.com/njack.iitp/"><img src="../images/facebook.png" alt="Facebook"></a>
             <a href=""><img src="" alt= "Twitter"></a>
             <a href=""><img src="" alt= "Google"></a>
             </div>
            <!-- /.container -->
        </div>
</body>
</html>