{% load static %}
<DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NJACK</title>
	<link rel="stylesheet" href="{% static 'homepage/css/homecss.css' %}">
	<!--<script src = "{% static 'homepage/js' %}"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/06d63e6a42.js"></script>
	<script>
    $(document).ready(function(){
    $(".hamburger").click(function()
    {
        $(".navigation").toggleClass("open");
    });
  });
	</script>
</head>
<body>

<div class="background"></div>

<header class="header-main">
  <!--<h1 class="text-center">Slide Menu</h1>-->
  <nav class="navigation">
    <div class="hamburger">
      <span class="bars"></span>
    </div>
    <div class="menu">
    <ul>
      <!--<li><a href="">Link</a></li>
      <li class="sub-menu"><a href="">Link</a></li>-->
      <li><a href="">Events</a></li>
      <li><a href="">Resources</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>

    </div>
  </nav>
</header>


<div class = "Intro">
    <img src="{% static 'homepage/images/tcaLFC4.png' %}" alt="NJACK">
		</div>
	<div class = "About">
         <div class="whole" id="about">
            <div class="container" role="document" style="margin-top:1%;">
              <h2 class="about-head">Njack</h2>
                <p class = "about-club"> NJACK - Not Just Another Computer science Klub ! The Computer Science Club of IIT Patna ! Founded in August 2011.Human-following robot is used to detect human from surrounding and follow the human wherever the robot go.
First of all, to develop human-following behavior, microcontroller Arduino UNO is used to control the movement of the electric motor. The value sends by GPS module is then read by Arduino UNO. Depending on the value send, some command is executed thus make the motor move according the needed situation. For this we are researching the compatibility of Arduino with the GPS and Bluetooth module and also its functionality. According to the research work done we might need to implement obstacle detection in the robot which will require ultrasonic sensor. The differential wheeled drive method is used on this motor so that the motor also can turn left and right.
Secondly, human-following robot will be tested on the real life scenario. The robot will be tested outdoors for better precision of the GPS module. This to ensure the robot can perform in a controlled surrounding. Human detection and the human-following behaviors are tested.
This shows the research activities from the beginning until completion of the project. This is to make sure the outcome of project is achieved in time efficiently.</p>
            </div>
        </div>
        </div>

        <!--<div class="whole" id="events" >

            <div class="container" role="document" style="margin-top:1%;">
              <h2 class="about-head">RECENT</h2>
                <div class="container-inner about-us-main" id="about-us">
                    <div class="about-div">
                      <h3>Hackathon</h3>
                       <p>Open government data Hackathon</p>
                    </div>
                    <div class="about-div">
                      <h3>Hackathon</h3>
                       <p>Open government data Hackathon </p>
                    </div>
                    <div class="about-div">
                      <h3>Hackathon</h3>
                       <p>Open government data Hackathon</p>
                    </div>
                </div>
                </div>
        </div>-->

        <div class="whole" id="follow" >
            <div class="container1" role="document" style="margin-top:1%;">
              <h2 class="about-head" style="font-size: 25px">Follow Us</h2>

             <a href="https://www.facebook.com/njack.iitp/"><i class="fa fa-facebook-official" style="font-size: 40px" aria-hidden="true"></i></a>
             <a href=""><i class="fa fa-twitter-square" style="font-size: 40px" aria-hidden="true"></i></a>
             <a href=""><i class="fa fa-google-plus-square" style="font-size: 40px; color: darkred  " aria-hidden="true"></i></a>
             </div>
            <!-- /.container -->
        </div>
</body>
</html>